.navbar {
  position: sticky;
  padding: 1vh;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  background-color: white;
}
.logo {
  width: 5vh;
  height: 5vh;
}

.resume {
  width: 20vh;
  height: 5vh;
  margin: 1vh;
  border-radius: 10px;
  background-color: transparent;
  border-color: #5e17eb;
  color: #5e17eb;
  font-size: large;
  font-weight: bold;
  transition: all 0.7s ease-in-out;
}

.resume:hover {
  opacity: 80%;
  background-color: #5e17eb;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: large;
}

@media (max-width: 500px) {
  .nav-links {
    flex-direction: column;
  }
}

li {
  list-style: none;
}

.link {
  padding: 1vh;
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #5e17eb;
  border-bottom: solid 3px #5e17eb;
  font-size: x-large;
}

h2 {
  text-align: center;
  padding: 40px;
  font-size: 30px;
}
