@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  height: 100vh;
  width: 100%;
}

.home {
  background-color: lavender;
}
.work {
  background-color: white;
}
.projects {
  background-color: lightpink;
}
.contact {
  background-color: white;
}

.wave {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 450px;
  background: white;
  transition: 500ms;
  overflow: hidden;
}

.wave::after {
  position: absolute;
  content: "";
  width: 300vw;
  height: 300vw;
  top: -66vw;
  left: 50%;
  border-radius: 44%;
  transform: translate(-50%, -75%);
  background: lavender;
  animation: wave 10s linear infinite;
}

.wave::before {
  position: absolute;
  content: "";
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  border-radius: 44%;
  transform: translate(-50%, -75%);
  opacity: 50%;
  background: lavender;
  animation: wave 15s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
