* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PlusJakartaSans-ExtraBold, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  height: 100vh;
  width: 100%;
}

.home {
  background-color: aquamarine;
}
.work {
  background-color: aqua;
}
.projects {
  background-color: antiquewhite;
}
.contact {
  background-color: darkgoldenrod;
}
