* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, PlusJakartaSans-ExtraBold, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  height: 100vh;
  width: 100%;
}

.home {
  background-color: lavender;
}
.work {
  background-color: antiquewhite;
}
.projects {
  background-color: lightpink;
}
.contact {
  background-color: white;
}
